{% extends 'base.html' %}

{% block title %}
    Home |
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-4 g-4 text-dark">
        {% for vehicle in vehicles %}
            <div class="col">
                <div class="card h-100">
                    {% include 'vehicles/partials/carousel_images.html' %}
                    <div class="card-body">
                        <h5 class="card-title">{{ vehicle.model.brand.name }} {{ vehicle.model.name }}</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="#{{ vehicle.id }}" class="btn btn-warning">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
