<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/head.html' %}
        <title>{% block title %}{% endblock %} Garage Showroom</title>
    </head>
    <body class="bg-dark text-warning">
        <div class="container">
            <header class="p-1 mb-3">
                {% include 'partials/navbar.html' %}
            </header>
            <main>
                {% include 'partials/messages.html' %}
                {% block content %}{% endblock %}
            </main>
            {% include 'partials/footer.html' %}
        </div>
    </body>
</html>

<style>
    .container {
        min-height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    footer {
        margin-top: 0.5rem;
    }
</style>
